<component name="libraryTable">
  <library name="Gradle: androidx.core:core:1.1.0@aar">
    <ANNOTATIONS>
      <root url="jar://$USER_HOME$/.gradle/caches/transforms-2/files-2.1/563be99a7f8ba6717b67ce50a8